

.caption{
    position: absolute;
    top: 35%;
    left: 10% !important;
    right: 0 !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left !important;
}
.caption h3{
    font-family: 'Courier New';
    font-weight: bold;
    word-spacing: -15px;
    font-style: italic;
    font-size: 3.5em;
    line-height: 1.1;
    text-transform: uppercase;
    color: #333;
}
.caption h3 span{
    color: #6e7bd1;
}
.caption p{
    color: #999;
    font-size: 1.2em;
}
.caption .btn{
    position: relative;
    border: 1px solid #6e7bd1;
    background-color: rgba(0, 0, 0, 0);
    color: #6e7bd1;
    font-weight: bold;
    z-index: 50 !important;

}
.caption .btn:hover{
    background-color: #6e7bd1;
    color: #fff;
    z-index: 50;
}



@media (max-width: 1300px) {
    .caption h3{
        font-size: 1.4em;
        word-spacing: -5px;
        white-space:pre !important;
    }
    .caption p{
        font-size: .8em;
    }

}
@media (max-width: 776px) {
    .caption h3{
        font-size: 1.1em;
        word-spacing: -5px;
    }
    .caption p{
        display: none;
    }

}

